* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 60px;
}

.card-custom {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  
}

.card-custom  p {
  padding: 5px;
  text-align: center;
}

.card-custom  img {
  height: 260px;
  width: 160px;
  padding: 5px
}

.card-grid-custom  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 10;
}

.overlay img {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: auto;  
  max-height: 95vh;
}

.overlay ul {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
}

.overlay li a {
  display: block;
  width: 60px;
  background-color: #dddddd;
}

.column-10 {
  float: left;
  width: 10%;
  padding: 10px;
  height: 90vh; /* Should be removed. Only for demonstration */
}

.column-50px {
  float: left;
  width: 50px;
  padding: 10px;
  height: 95vh; /* Should be removed. Only for demonstration */
  margin-left: 10px;
}

.column-90 {
  float: left;
  width: 90%;
  padding: 10px;
  height: 95vh; /* Should be removed. Only for demonstration */
}


.row:after {
  content: "";
  display: table;
  clear: both;
}